<html>
<head>
<style>
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
</style>
</head>
<body>

<h1>Hoàng Văn Phan</h1>

<div class="flex-container">
  <div>1</div>
  <div>2</div>
  <div>3</div>  
</div>

<p><em>taychi <em>honggiang <em>donghung <em>thaibinh <em>.</p>

<p>hoangvanphan-2021050500 </p>

</body>
</html>