<html>
<head>
<style>
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
</style>
</head>
<body>

<h1>dothuthuy 2021050893</h1>

<div class="flex-container">
  <div>1</div>
  <div>2</div>
  <div>3</div>  
</div>

<p>namdinh <em>hanoi</em> hanam <em>ninh binh</em>.</p>

<p>dothuthuy 2021050893</p>

</body>
</html>